<div class="container about_me">
    <div>
        <h2>About me</h2>
        <p>My introduction</p>
    </div>
    <div class="row">
        <div class="col">
            <img src="#" alt="my second picture" class="second-picture">
        </div>
        <div class="col experience">
            <h3>Text</h3>
            <div class="row">
                <div class="col">
                    <h4>08+</h4>
                    <h5>Text</h5>
                </div>
                <div class="col">
                    <h4>08+</h4>
                    <h5>Text</h5>
                </div>
                <div class="col">
                    <h4>08+</h4>
                    <h5>Text</h5>
                </div>
            </div>
            <button class="download_cv">
                <p>Download CV</p>
                <i class="fa-regular fa-moon"></i>
            </button>
        </div>
    </div>
</div>