<header>
    <div class="container">
        <nav class="nav_logo">
            <a href="#">Kuba</a>
            <ul class="nav_list">
                <li class="nav_item"><a href="#">Home</a></li>
                <li class="nav_item"><a href="#">About</a></li>
                <li class="nav_item"><a href="#">Skills</a></li>
                <li class="nav_item"><a href="#">Services</a></li>
                <li class="nav_item"><a href="#">Portfolio</a></li>
                <li class="nav_item"><a href="#">Contact</a></li>
                <li (click)="onToggle()"><i class="fa-regular fa-moon"></i></li>
            </ul>
        </nav>
    </div>
</header>
