<div class="container">
    <h2>Contact Me</h2>
    <p>Get in touch</p>
    <div class="contact">
        <div class="contact_left">
            <div class="contact_phone">
                <i class="fa-regular fa-moon"></i>
                <div class="phone">
                    <h3>Call Me</h3>
                    <a href="#">Phone</a>
                </div>
            </div>
            <div class="contact_email">
                <i class="fa-regular fa-moon"></i>
                <div class="email">
                    <h3>Email</h3>
                    <a href="#">Email</a>
                </div>
            </div>
            <div class="contact_location">
                <i class="fa-regular fa-moon"></i>
                <div class="location">
                    <h3>Location</h3>
                    <a href="#">Location</a>
                </div>
            </div>
        </div>
        <div class="contact_right">
            <form action="">
                None
            </form> 
        </div>
    </div>
</div>