<div class="container">
    <h2>Skills</h2>
    <p>My technical level</p>
    <div class="skills">
        <div class="frontend">
            <i class="fa-regular fa-moon"></i>
            <div class="col">
                <h3>Frontend developer</h3>
                <p>More than 4 years</p>
                AKOREDON
            </div>
        </div>
        <div class="backend">
            <i class="fa-regular fa-moon"></i>
            <div class="col">
                <h3>Backend developer</h3>
                <p>More than 2 years</p>
                AKOREDON
            </div>
        </div>
        <div class="others">
            <i class="fa-regular fa-moon"></i>
            <div class="col">
                <h3>Backend developer</h3>
                <p>More than 2 years</p>
                AKOREDON
            </div>
        </div>
    </div>
</div>