<div class="container">
    <h2>Services</h2>
    <p>What i offer</p>
    <div class="services">
        <div class="row">
            <div class="col">
                <i class="fa-regular fa-moon"></i>
                <h3>Frontend Developer</h3>
                <a href="#" class="more">View more</a>
            </div>
            <div class="col">
                <i class="fa-regular fa-moon"></i>
                <h3>Frontend Developer</h3>
                <a href="#" class="more">View more</a>
            </div>
            <div class="col">
                <i class="fa-regular fa-moon"></i>
                <h3>Frontend Developer</h3>
                <a href="#" class="more">View more</a>
            </div>
        </div>
    </div>
</div>
