<div class="container">
    <div class="row">
        <div class="col socials">
            <a href="#" class="social">
                <i class="fa-regular fa-moon"></i>
            </a>
            <a href="#" class="social">
                <i class="fa-regular fa-moon"></i>
            </a>
            <a href="#" class="social">
                <i class="fa-regular fa-moon"></i>
            </a>
        </div>
        <div class="col">
            <h1 class="title">Title</h1>
            <h2 class="profession">Profession</h2>
            <h2 class="description">Description</h2>
            <button class="contact">
                <p>Contact me</p>
                <i class="fa-regular fa-moon"></i>
            </button>
            <div class="scroll_down">
                <i class="fa-regular fa-moon"></i>
                <h3>Scroll down</h3>
                <i class="fa-regular fa-moon"></i>
            </div>
        </div>
        <div class="col">
            <img src="#" alt="my picture" class="picture">
        </div>
    </div>
</div>
